{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": "eslint:recommended",
  "rules": {
    "no-console": "off"
  },
  "env": {
    "node": true,
    "mocha": true
  },
  "globals": {
    "expect": true
  }
}
