#IDE
.idea
.vscode

# Logs
logs
*.log
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage
# nyc test coverage
.nyc_output
# Dependency directories
node_modules
# Optional npm cache directory
.npm

# Build directories
browser
